<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>用户登录</title>
    <link href="login.css" rel="stylesheet">
    <!-- <link href="../../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet"> -->
</head>

<body>
    <div class="navbar">
        <h2 class="title">天天日记</h2>
    </div>
    <form class="form-login" action="">
        <h2 class="form-login-title">用户登录</h2>
        <input type="text" id="inputName" class="form-control" placeholder="请输入用户名" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" required>

        <button class="form-control" type="submit">登录</button>
    </form>
</body>

</html>