html{
    margin: 0;
}
body{
    margin: 0;
    background-color:#eee;
}
.navbar {
    height: 60px;
    border-radius: 0;
    background-color:#2b303b;
}
.navbar .title {
    width: auto;
    height: 60px;
    color: #fff;
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    line-height: 60px;
}
.form-login {
    width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 100px;
}
.form-login .form-control {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
}

